.content {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(77, 36, 2, 0.4), rgba(77, 36, 2, 0.7)), url('https://i.pinimg.com/enabled_hi/564x/ce/07/85/ce07850d08385f63c53a83fb55ba5630.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;


    .text {

        color: white;
        max-width: 800px;
        text-align: center;

        h2 {
            font-size: 80px;
            font-weight: 600;
        }

        p {
            font-size: 30px;
            text-align: center;
        }

        .sale {
            border: 1px solid rgba(128, 85, 21, 0.925);
            border-radius: 5px;
            display: inline-block;
            padding: 10px;
            margin: 10px 120px;
            background-color: rgba(104, 48, 2, 0.233);

            span {
                font-size: 20px;
                color: rgb(0, 0, 0);
            }
        }

        h3 {
            font-size: 80px;
            text-align: center;
            color: black;
            margin-bottom: 10px;
        }




        a {
            padding: 14px 25px;
            font-size: 17px;
            border-radius: 30px;
            font-weight: 500;
            border: 1px solid #D3B5A3;
            color: #3D3935;
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-color: #D3B5A3;
            transition: 0.3s;
        }

        a:hover {
            color: #D3B5A3;
            border: 1px solid #D3B5A3;
            background: none;
        }


    }
}